
Exercício Pequeno Sistema/ex115/__pycache__/__init__.cpython-311.pyc
Exercício Pequeno Sistema/ex115/arquivo/__pycache__/__init__.cpython-311.pyc
Exercício Pequeno Sistema/ex115/cores/__pycache__/__init__.cpython-311.pyc
Exercício Pequeno Sistema/ex115/dados/__pycache__/__init__.cpython-311.pyc
Exercício Pequeno Sistema/ex115/__init__.py
Exercícios Módulos/ex107/__pycache__/moeda.cpython-311.pyc
Exercícios Módulos/ex108/__pycache__/moeda.cpython-311.pyc
Exercícios Módulos/ex109/__pycache__/moeda.cpython-311.pyc
Exercícios Módulos/ex110/__pycache__/moeda.cpython-311.pyc
Exercícios Módulos/ex111/utilidadescev/__init__.py
Exercícios Módulos/ex111/utilidadescev/__pycache__/__init__.cpython-311.pyc
Exercícios Módulos/ex111/utilidadescev/dados/__init__.py
Exercícios Módulos/ex111/utilidadescev/moeda/__pycache__/__init__.cpython-311.pyc
Exercícios Módulos/ex112/utilidadescev/__init__.py
Exercícios Módulos/ex112/utilidadescev/__pycache__/__init__.cpython-311.pyc
Exercícios Módulos/ex112/utilidadescev/dados/__pycache__/__init__.cpython-311.pyc
Exercícios Módulos/ex112/utilidadescev/moeda/__pycache__/__init__.cpython-311.pyc
